{% extends 'base.html' %}

{% block title %} Order created {% endblock title %}

{% block content %}
<div class="bg-white py-8 px-4 overflow-hidden mt-14 mb-14 sm:px-6 lg:px-8 lg:pb-4 lg:pt-4">
  <div class="relative max-w-xl mx-auto mt-2 shadow-md rounded bg-white p-4">
    <div class="text-center">
      <h2 class="text-3xl leading-9 font-medium tracking-tight text-gray-700 sm:text-4xl sm:leading-10">
        Pedido realizado existosamente
      </h2>
      <p class="mt-4 text-lg leading-6 text-gray-500">
          En breves minutos nuestro personal se contactara contigo para confirmar tu pedido
      </p>
    </div>
    <div class="mt-6">
    </div>
  </div>
</div>
{% endblock content %}
    