<div class="relative bg-gray-50">
    <div class="relative bg-white shadow">
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
          <div class="w-0 flex-1 flex">
            <a href="{% url 'core:home' %}" class="font-semibold text-red-600 hover:text-red-700 text-2xl lg:text-4xl">Sumaq</a>
          </div>
          <nav class=" md:flex space-x-10">
            <a href="{% url 'meals:meal_list' %}" class="text-gray-500 inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150">
              Ordenar
            </a>
            <a href="{% url 'core:about' %}" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 transition ease-in-out duration-150">
              Sobre nosotros
            </a>
          </nav>
        <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0"></div>
      </div>
    </div> 
</div>